version: "3.1"

services:
  fep-portal:
    image: wordpress:latest
    restart: always
    ports:
      - 80:80
    links: 
      - db:mysql
    environment:
      RAZZLE_WORDPRESS_DB_HOST: mysql
      MYSQL_PORT_3306_TCP: 3307
      RAZZLE_WORDPRESS_DB_USER: admin
      RAZZLE_WORDPRESS_DB_PASSWORD: f3P%f!dN&u*m
      RAZZLE_WORDPRESS_DB_NAME: wordpress_fep
      VIRTUAL_HOST: fep-portal.dev
      VIRTUAL_PORT: 80
    volumes:
      - ./wordpress/portal:/var/www/html

  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    ports:
      - 3307:3306
    environment:
      MYSQL_ROOT_PASSWORD: 9N$$NheHKShV
      MYSQL_DATABASE: wordpress_fep
      MYSQL_USER: admin
      MYSQL_PASSWORD: f3P%f!dN&u*m
      MYSQL_RANDOM_ROOT_PASSWORD: "1"
    volumes:
      - ./wordpress/mysql/data:/var/lib/mysql
